<!DOCTYPE html>
<html lang="NO">

<head>
    <meta charset="UTF-8"/>
    <title>{{tittel}}</title>
    <meta name="subject" content="Omsorgsdager - Melding om aleneomsorg"/>
    <meta name="author" content="nav.no"/>
    <meta name="description"
          content="{{tittel}} {{søknadMottattDag}} {{ søknadMottatt }}"/>
    <bookmarks>
        <bookmark name="Søker" href="#søker"/>
        <bookmark name="Dine barn" href="#dineBarn"/>
        <bookmark name="Samtykke" href="#samtykke"/>
    </bookmarks>
    {{#block 'style-common' }}
    {{/block}}
</head>

<body>
<h1 id="header">{{tittel}}</h1>
<div class="nokkelinfo">
    <p><strong>Sendt til NAV</strong> {{søknadMottattDag}} {{ søknadMottatt }}</p>
    <p><strong>Språk:</strong> {{hjelp.språk}}</p>
</div>
<div class="innholdscontainer">

    <div class="person" id="søker">
        <p class="navn">{{ søker.navn }}</p>
        <p>{{ søker.fødselsnummer }}</p>
        <br/>
    </div>

    <section id="dineBarn">
        <h2>Dine barn</h2>
        <ul>
            {{# each barn as |barn|~}}
                <li>
                    <p><b>Navn: </b>{{barn.navn}}</p>
                    <p><b>Identitetsnummer: </b>{{barn.identitetsnummer}}</p>
                    <p><b>Har aleneomsorg for barnet: </b>{{ jaNeiSvar barn.aleneomsorg}}</p>
                </li>
            {{/each}}
        </ul>
    </section>

    <!-- SAMTYKKE -->
    <section id="samtykke">
        <h2>Samtykke fra deg</h2>
        <p class="sporsmalstekst">Har du forstått dine rettigheter og plikter?</p>
        <p>{{ jaNeiSvar samtykke.harForståttRettigheterOgPlikter }}</p>
        <hr/>
        <p class="sporsmalstekst">Har du bekreftet at opplysninger du har gitt er riktige?</p>
        <p>{{ jaNeiSvar samtykke.harBekreftetOpplysninger }}</p>
    </section>

</div>

<!-- FOOTER -->
<p id="footer">
    <span class="soknadsid">{{ søknadId }}</span>
    <span class="soknadsid">{{ id }}</span>
    <span class="sidetall">side <span id="pagenumber"></span> av <span id="pagecount"></span></span>
</p>
</body>

</html>